.table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  padding: 2px;
  background-color: #28445b;
  border-radius: 4px;
}

.column,
.tableData {
  text-align: right;
  padding: 2px 20px;
}

.column {
  color: #808080;
}

.tableData {
  color: #ffffff;
}

.container {
  padding: 2px;
  width: 100%;
}
